<div class="join" layout="column" layout-align="center center" layout-fill>
        <form name="projectForm">
            <md-input-container class="md-block">
                <label>Email</label>
                <input md-maxlength="30" required md-no-asterisk  required-type="email" name="Email" ng-pattern="/^.+@.+\..+$/" ng-model="userData.email">
            </md-input-container>
            <md-input-container class="md-block">
                <label>password</label>
                <input required name="password" required type="password" ng-model="userData.password">
            </md-input-container>
            <md-input-container class="md-block">
                <label>Name</label>
                <input name="Name" ng-model="userData.name"/>
            </md-input-container>
            <md-input-container class="md-block">
                <label>backnumber</label>
                <input required type="number" name="backnumber" ng-model="userData.backnumber"/>
            </md-input-container>
        </form>
        <button layout-align="center" ng-click="join()">선수등록</button>
</div>