<body>
<div layout="column" layout-align="center center" layout-fill>
    <div class="loginBox md-whiteframe-z1" layout="column">
    <md-toolbar>
        <h2 class="md-toolbar-tools">
            <span> Login </span>
        </h2>
    </md-toolbar>

    <md-content class="md-padding" layout="column">
    <md-input-container>
        <label>EmailAddress</label>
        <input type="email" ng-model="loginUserData.email">
    </md-input-container>
    <md-input-container>
        <label>Password</label>
        <input type="password" ng-model="loginUserData.password">
    </md-input-container>

    <div layout="row" layout-align="center center" style="padding-top:20px;">
        <md-button class="md-raised md-primary" ng-click="login()">로그인</md-button>
        <div flex>
            <md-button ui-sref="join">선수등록</md-button>
        </div>
    </div>
    </md-content>
    </div>
</div>
</body>