<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="main" layout="row">
        <div flex="40">
            <md-subheader>내 기록</md-subheader>
            <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">{{toolbarUserData.name}}</span>
                        <span class="md-subhead">{{toolbarUserData.backnumber}}</span>
                    </md-card-title-text>
                    <md-card-content>
                        <p>총 {{myAverageRecord.Games}} 경기</p>
                        <p>평균 {{myAverageRecord.Points}} 득점</p>
                        <p>평균 {{myAverageRecord.Assists}} 어시스트</p>
                        <p>평균 {{myAverageRecord.Rebounds}} 리바운드</p>
                    </md-card-content>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button ui-sref="mypage">내 정보 보기</md-button>
                </md-card-actions>
            </md-card>
            <md-subheader>나의 최근 경기 기록</md-subheader>
            <div ng-repeat="record in recentMatchRecordData">
            <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Vs {{record.match.against}}</span>
                        <span class="md-subhead">{{record.match.tag}}</span>
                    </md-card-title-text>
                    <md-card-content>
                        <p>{{record.matchrecord.point}} 득점</p>
                        <p>{{record.matchrecord.assist}} 어시스트</p>
                        <p>{{record.matchrecord.rebound}} 리바운드</p>
                    </md-card-content>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button>Action 1</md-button>
                    <md-button>Action 2</md-button>
                </md-card-actions>
            </md-card>
            </div>
        </div>
        <div flex="40">
            <md-subheader>내 기록</md-subheader>
            <div ng-repeat ="match in recentMatches">
            <md-card>
                <md-card-title  md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch="">
                    <md-card-title-text layout-wrap>
                        <span class="md-headline">{{match.tag}}  vs {{match.against}}</span>
                        <span class="md-subhead"><p>{{match.when}}</p>
                        <p>장소 {{match.where}}</p></span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content layout-wrap>
                    <p>{{match.matchinfo}}dsfddfskjfksdjfksdfj</p>
                </md-card-content>
                <md-card-actions layout="row" layout-align="end">
                    <md-button ng-hide="match.finish" ui-sref="matchrecord" ng-click="matchController.getId($event,match.id)">기록하기</md-button>
                    <md-button ng-show="match.finish" ng-click="matchController.showDetail($event,match.id)">상세보기</md-button>
                    <md-button>수정</md-button>
                </md-card-actions>
            </md-card>
            </div>
        </div>
        <div flex="40">
            <md-subheader>개인기록 순위</md-subheader>
            <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Card with image</span>
                        <span class="md-subhead">Large</span>
                    </md-card-title-text>
                    <md-card-content>
                        <p>
                            dsfsdfdsfds
                            sdfs
                            dfsdf
                            sdf
                            sdf
                            sdf
                            sdf
                            sdf
                            dsf

                        </p>
                    </md-card-content>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button>Action 1</md-button>
                    <md-button>Action 2</md-button>
                </md-card-actions>
            </md-card>
            <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Card with image</span>
                        <span class="md-subhead">Large</span>
                    </md-card-title-text>
                    <md-card-title-media>
                        <div class="md-media-lg card-media"></div>
                    </md-card-title-media>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button>Action 1</md-button>
                    <md-button>Action 2</md-button>
                </md-card-actions>
            </md-card>
        </div>
    </div>
</body>
</html>