<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="main" layout="row">
        <div flex="40">
            <md-subheader>내 기록</md-subheader>
            <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">{{toolbarUserData.name}}</span>
                        <span class="md-subhead">{{toolbarUserData.backnumber}}</span>
                    </md-card-title-text>
                    <md-card-content>
                        <p>총 {{myAverageRecord.Games}} 경기</p>
                        <p>평균 {{myAverageRecord.Points}} 득점</p>
                        <p>평균 {{myAverageRecord.Assists}} 어시스트</p>
                        <p>평균 {{myAverageRecord.Rebounds}} 리바운드</p>
                    </md-card-content>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button ui-sref="mypage">내 정보 보기</md-button>
                </md-card-actions>
            </md-card>
            <md-subheader>나의 최근 경기 기록</md-subheader>
            <div ng-repeat="record in recentMatchRecordData">
            <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Vs {{record.match.against}}</span>
                        <span class="md-subhead">{{record.match.tag}}</span>
                    </md-card-title-text>
                    <md-card-content>
                        <p>{{record.matchrecord.point}} 득점</p>
                        <p>{{record.matchrecord.assist}} 어시스트</p>
                        <p>{{record.matchrecord.rebound}} 리바운드</p>
                    </md-card-content>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button ng-click="showDetail($event,record.match.id)">상세보기</md-button>
                    <md-button ui-sref="playerresult">기록실</md-button>
                </md-card-actions>
            </md-card>
            </div>
        </div>
        <div flex="40">
            <md-subheader>최근 5경기</md-subheader>
            <div ng-repeat ="match in recentMatches">
            <md-card>
                <md-card-title  md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch="">
                    <md-card-title-text layout-wrap>
                        <span class="md-headline">{{match.tag}}  vs {{match.against}}</span>
                        <span class="md-subhead"><p>{{match.when}}</p>
                        <p>장소 {{match.where}}</p></span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content layout-wrap>
                    <p>{{match.matchinfo}}</p>
                </md-card-content>
                <md-card-actions layout="row" layout-align="end">
                    <md-button ng-hide="match.finish" ui-sref="matchrecord" ng-click="getId($event,match.id)">기록하기</md-button>
                    <md-button ng-show="match.finish" ng-click="showDetail($event,match.id)">상세보기</md-button>
                    <md-button ui-sref="matchschedule">경기 일정/결과</md-button>
                </md-card-actions>
            </md-card>
            </div>
        </div>
        <div flex="40">
            <md-subheader>개인기록 순위</md-subheader>
            <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">경기수</span>
                    </md-card-title-text>
                    <md-card-content>
                        <p>{{recordLeader.games.Name}} {{recordLeader.games.Backnumber}}번</p>
                        <p>총 {{recordLeader.games.Games}}경기</p>
                    </md-card-content>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button ui-sref="playerresult">기록실</md-button>
                </md-card-actions>
            </md-card>
            <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">득점</span>
                    </md-card-title-text>
                    <md-card-content>
                        <p>{{recordLeader.points.Name}} {{recordLeader.points.Backnumber}}번</p>
                        <p>평균 {{recordLeader.points.Points}}득점</p>
                    </md-card-content>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button ui-sref="playerresult">기록실</md-button>
                </md-card-actions>
            </md-card>
            <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">어시스트</span>
                    </md-card-title-text>
                    <md-card-content>
                        <p>{{recordLeader.assists.Name}} {{recordLeader.assists.Backnumber}}번</p>
                        <p>평균 {{recordLeader.assists.Assists}}개</p>
                    </md-card-content>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button ui-sref="playerresult">기록실</md-button>
                </md-card-actions>
            </md-card>
            <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">리바운드</span>
                    </md-card-title-text>
                    <md-card-content>
                        <p>{{recordLeader.rebounds.Name}} {{recordLeader.rebounds.Backnumber}}번</p>
                        <p>평균 {{recordLeader.rebounds.Rebounds}}개</p>
                    </md-card-content>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button ui-sref="playerresult">기록실</md-button>
                </md-card-actions>
            </md-card>
        </div>
    </div>
</body>
</html>