<div class="container" layout="row">
    <md-sidenav md-is-locked-open="true" layout="column" class="md-whiteframe-1dp" flex>
        <md-list role="list">
            <div class="md-3-line" ng-repeat=" user in userCheckbox | filter: {ischecked : false}">
                <md-checkbox ng-model="user.ischecked">
                    {{user.name}} {{user.number}}
                </md-checkbox>
            </div>
        </md-list>
    </md-sidenav>
    <md-content id="content" class="md-whiteframe-1dp" flex>
        <div>{{matchDetail.tag}}  vs  {{matchDetail.against}}</div>
        <md-input-container class="md-block" flex-gt-sm>
            <label>About</label>
            <input data-ng-model="matchupdate.matchinfo">
        </md-input-container>
        <div class="score" layout="column">
            <md-input-container class="md-block" flex-gt-sm>
                <label>scoregnp</label>
                <input type="number" data-ng-model="matchupdate.scoregnp">
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
                <label>scoreenemy</label>
                <input type="number" data-ng-model="matchupdate.scoreenemy">
            </md-input-container>
        </div>
        <md-switch data-ng-model="wincheck" aria-label="Switch 1" ng-click="check()">
            경기결과: {{matchresult}}
        </md-switch>
        <div>
        <md-list role="list">
            <div class="md-3-line" ng-repeat=" user in userCheckbox | filter: {ischecked : true}" layout-gt-sm="row">
                <md-checkbox ng-model="user.ischecked">
                </md-checkbox>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Name</label>
                            <input data-ng-model="user.name">
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Back number</label>
                            <input data-ng-model="user.backnumber">
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Points</label>
                            <input type="number" data-ng-model="user.point">
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Assists</label>
                            <input type="number" data-ng-model="user.assist">
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Rebounds</label>
                            <input type="number" data-ng-model="user.rebound">
                        </md-input-container>
                    </div>
            <button ng-click="addmatch()">경기기록</button>
            <button ng-click="consolecheck()">콘솔체크</button>
        </md-list>
        </div>
    </md-content>
</div>